<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Product</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="icon" th:href="@{/img/book-64.png}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="css/product.css" />-->
  <link th:href="@{/style/details.css}" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
          integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/mpm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
          integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+@EQqNXNE6DZiVc"
          crossorigin="anonymous"></script>

</head>

<body>
<<nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
  <div class = "container">
    <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "/web/home1">
      <img th:src="@{/img/book-64.png}" alt = "site icon">
      <span class = "text-uppercase fw-lighter ms-2">shopbook</span>
    </a>

    <div class = "order-lg-2 nav-btns">
      <input type="search" id="search">
      <input type="submit" onclick="search()" id="btnSearch">

      <button type = "button" class = "btn position-relative">
        <a href="http://localhost:8080/web/cart">
          <i class = "fa fa-shopping-cart"></i>
        </a>
        <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary" style="background-color: #e5345b!important;" th:text="${cart}"></span>
      </button>
      <button type = "button" class = "btn position-relative">
        <a href="http://localhost:8080/web/favorites">
          <i class = "fa fa-heart"></i>
        </a>
        <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary" style="background-color: #e5345b!important;" th:text="${fav}"></span>
      </button>

      <div class="dropdown">
        <h1 onclick="myFunction()" class="dropbtn" th:text="${'Hello, ' +name}"></h1>
        <div id="myDropdown" class="dropdown-content">
          <a th:href="@{/logout}" onclick="out()">Logout</a>
        </div>
      </div>
    </div>

    <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
      <span class = "navbar-toggler-icon"></span>
    </button>

    <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
      <ul class = "navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="http://localhost:8080/web/home/#header"> home </a>
        </li>

        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="http://localhost:8080/web/home/#popular"> best sellers </a>
        </li>

        <li class="nav-item px-2 py-2 border-0">
          <a class="nav-link text-uppercase text-dark" href="http://localhost:8080/web/home/#special"> new releases </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="container sproduct my-5 pt-5">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-12 col-12">
      <img id="MainImg" class="img-fluid w-100 pb-1" th:src="${entity.getImage()}" alt="image">
    </div>

    <div class="col-lg-6 col-md-12 col-12">

      <h3 class="py-4" th:text="${entity.getName()}"/>
      <h2 class="p-price" th:text="${entity.getPrice()}"/>

      <input type="number" id="quantity" name="quantity" min="0" value="1">

      <!--      <a th:href="${'/main/add/' + entity.getId()}" id="adder">-->
      <button class="btn btn-dark" onclick="add()">Add To Cart</button>
      <!--      </a>-->

      <a th:href="${'/main/fav/' + entity.getId()}">
        <button class="btn btn-dark">Add To Favorites</button>
      </a>

      <p th:text="${entity.getId()}" style="visibility: hidden" id="secret"></p>

      <h4 class="mt-5 mb-5">Product Details</h4>
      <span th:text="${entity.getDetails()}"/>

    </div>
  </div>
</section>


<!--Similar product-->
<!--<section id="best" class="my-5 pb-5">-->
<!--  <div class="container text-center mt-5 py-5">-->
<!--    &lt;!&ndash;        <h3>Similar Product</h3>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="row mx-auto container-fluid">-->
<!--    <div class="product text-center col-lg-3 col-md-4 col-12" th:each="params : ${products}"-->
<!--         th:if="${params.getClothesCategory()} == ${product.getCategory}">-->
<!--      <a style="text-decoration:none;color: #0f0700"-->
<!--         th:href="${'/product/'+params.getId() + '/type/' + params.getClothesCategory()}">-->
<!--        <img class="img-fluid mb-3" th:src="${params.getClothesImg()}" width="250">-->
<!--        <div class="star">-->
<!--          <i class="bi bi-star-fill"></i>-->
<!--          <i class="bi bi-star-fill"></i>-->
<!--          <i class="bi bi-star-fill"></i>-->
<!--          <i class="bi bi-star-fill"></i>-->
<!--          <i class="bi bi-star-fill"></i>-->
<!--        </div>-->
<!--        <h5 class="p-name" th:text="${params.getClothesName()}"/>-->
<!--        <h4 class="p-price" th:text="${params.getClothesPrice()}"/>-->
<!--        <button class="btn btn-dark">Buy Now</button>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h4>About us</h4>
        <p>We were established to provide a perfect e-commerce experience to our customers and vendors.
          We support women's participation in the digital economy, domestic production and producers.
          Thus, we make a significant contribution to the growth of the country's economy and increase
          employment.</p>
      </div>
      <div class="footer-col-2">
        <h4>Contact us </h4>
        <div>
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Azerbaijan Baku</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone"></span>
            <span class="text">+994 00 000 00 00</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">nagili2004@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function func() {
    window.location.replace("/web/home");
  }

  function add() {
    let count = document.getElementById("quantity").value;
    let id = document.getElementById("secret").textContent;
    window.location.replace("/main/add/id/" + id + "/count/" + count);
  }

  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  function out() {
    alert("Successfully logged out");
  }

  function search() {
    let name = document.getElementById("search").value;

    window.location.replace("http://localhost:8080/web/search/" + name)
  }

</script>

</body>
</html>