<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>ShopBook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/book-64.png}">

    <link th:href="@{../style/favorite.css}" rel="stylesheet"/>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <!-- <script src="javascript/mypage.js"></script> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="MyPage.images/logo.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
<!-- //navbar -->
<nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
    <div class = "container">
        <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "/web/home1">
            <img th:src="@{/img/book-64.png}" alt = "site icon">
            <span class = "text-uppercase fw-lighter ms-2">shopbook</span>
        </a>

        <div class = "order-lg-2 nav-btns">
            <input type="search" id="search">
            <input type="submit" onclick="search()" id="btnSearch">

            <button type = "button" class = "btn position-relative">
                <a href="http://localhost:8080/web/cart">
                    <i class = "fa fa-shopping-cart"></i>
                </a>
                <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary" th:text="${cart}" id="crt"></span>
            </button>
            <button type = "button" class = "btn position-relative">
                <a href="http://localhost:8080/web/favorites">
                    <i class = "fa fa-heart"></i>
                </a>
                <span class = "position-absolute top-0 start-100 translate-middle badge" th:text="${size}" id="fav"></span>
            </button>

            <div class="dropdown">
                <h1 onclick="myFunction()" class="dropbtn" th:text="${'Hello, ' +name}"></h1>
                <div id="myDropdown" class="dropdown-content">
                    <a th:href="@{/logout}" onclick="out()">Logout</a>
                </div>
            </div>
        </div>

        <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
            <ul class = "navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="home1#header"> home </a>
                </li>

                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase text-dark" href="home1#popular"> best sellers </a>
                </li>

                <li class="nav-item px-2 py-2 border-0">
                    <a class="nav-link text-uppercase text-dark" href="home1#special"> new releases </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="CartContainer">
    <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <a th:href="@{'http://localhost:8080/main/fav/clear'}" class="Action">Remove all</a>
    </div>
    <form >

        <div class="Cart-Items" th:each="item:${favorite}">
            <div class="image-box">
                <img th:src="${item.getImage()}" style="height:120px"/>
            </div>
            <div class="about">
                <h1 class="title" th:text="${item.getName()}"></h1>
            </div>

            <div class="prices">
                <div class="amount" th:text="${item.getPrice()}"></div>
                <a class="remove" th:href="${'http://localhost:8080/main/fav/remove/'+ item.getId()}"><u>Remove</u></a>
            </div>
        </div>
    </form>


    <!-- Add a logout button -->
    <!--        <form th:action="@{/logout}"-->
    <!--              method="POST">-->

    <!--            <input class="logout" type="submit" value="Logout"/>-->

    <!--        </form>-->


</div>
</div>

<!--    <script>-->
<!--        document.getElementById("check").onclick = function () {-->
<!--            myFunction()-->
<!--        };-->

<!--        function myFunction() {-->
<!--            alert("Your orders have been sent!");-->
<!--        }-->
<!--    </script>-->
</body>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function out() {
        alert("Successfully logged out");
    }

    function search() {
        let name = document.getElementById("search").value;

        window.location.replace("http://localhost:8080/web/search/" + name)
    }
</script>

</html>